<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="colorChangingBkgr.js" defer></script>
    <title>Pagina Auth</title>
</head>
<body speed="0.5">
    <div class="wrapper">
        <div class="greeting futuristic-blue" id="grow"></div>

        <form class="bubble">
            <input type="text" name="username" placeholder="E-mail or Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Log in">
            <label for="remember" class="container">
                <input type="checkbox" checked="checked" name="remember">
                <span class="switch"></span>
                Remember me
            </label>
        </form>
    </div>
</body>
</html>